* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      height: 100vh;
      background-color: #121212;
      color: white;
    }

    /* Sidebar kiri */
    .sidebar {
      width: 250px;
      background-color: #000;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .sidebar h2 {
      margin-bottom: 20px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .menu a {
      color: #b3b3b3;
      text-decoration: none;
      font-size: 15px;
      transition: 0.2s;
    }

    .menu a:hover {
      color: #fff;
    }

    /* Konten utama */
    .main {
      flex: 1;
      padding: 150px;
      background-color: #181818;
      overflow-y: auto;
    }

    .main h1 {
      font-size: 22px;
      margin-bottom: 15px;
    }
    

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;
    }

    .card {
      background-color: #282828;
      padding: 10px;
      border-radius: 1px;
      text-align: center;
      transition: 0.2s;
    }

    .card:hover {
      background-color: #333;
    }
    .webp{
      width: 10%;
    }

    .card img {
      width: 20%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .search-box{
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .search-box input {
      width: 100%;
      padding: 10px 15px;
      border: none;
      border-radius: 25px;
      background-color: #4c2ca1;
      color: white;
      font-size: 14px;
      outline: none;
    }
     .search-box input::placeholder {
      color: #ccc;
    }


    /* Panel kanan (detail lagu) */
    .right-panel {
      width: 300px;
      background-color: #181818;
      border-left: 1px solid #333;
      padding: 20px;
    }

    .now-playing img {
      width: 100%;
      border-radius: 10px;
    }

    .now-playing h3 {
      margin: 10px 0 5px;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }